html, 
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}
.page-title{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 3rem;
    margin-top: 120%;
    margin-left: 125%;
    text-align: center;
    color:white;

}

