header {

    position: relative;
    z-index: 1;

    h1 {
        line-height: 1;
        margin-top: $page-top-margin;
        margin-bottom: 0;
        a {
            color: rgb(224, 17, 17);
            text-decoration: none;
        }
        
    }

}