.login-link {
    margin-top: $page-top-margin;
    margin-right: 15.28%;
    margin-bottom: 130px;
    text-align: right;
    
    a {
        color: red;
    }

    // &.mobile {
    //     display: none;
    // }
    @media (max-width: 600px){
        // Mobile View for the login button
        // -> Hide desktop login button...
        // and show mobile login button...
        &.desktop {
            display: none;
        }
        &.mobile {
           
            margin-top: 0;
            margin-right: 0;
            margin-bottom: 5px;
        }
    } 
}