.wrapper{
    
    background-size: cover;
    flex: 1;
    position: relative;
    
    // background-image: url('../images/index-image.jpg');
    // body.pg-home & {
    //     background-image: url('../images/bg-home-page.jpg');
    // }
    body.pg-men &{
        background-image: url('../images/bg-home-page.jpg');
    }

    body.pg-women & {
        background-image: url('../images/bg-women-page.jpg');
    }
    body.pg-kids  & {
        background-image: url('../images/bg-kids-page.jpg')
    }

    display: flex;

    header {
        width: 12%;
        min-width: 215px;
    }

    main {
        width: 88%;
    }

    @media (max-width: 1050px){
        background-position: center;
    }

    @media (max-width: 600px){
        display: block;

        header {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 30px;
        }

        main {
            width: 100%;
        }

    }

}
